.vscode/**
.vscode-test/**
.github/**
.gitignore
.vsls.json
.eslintrc.json
.prettierrc
tsconfig.json
vite.config.ts
src/**
ui/**
node_modules/**
out/test/**
*.map
**/*.ts
**/*.tsx
README.md
vsc-extension-quickstart.md
